*
{
    margin: 0;
   
   background-color: rgb(178, 239, 219);
    

}


.container
{
  display: flex;
  

  flex-direction: column;
  justify-content:center;
  align-items: center;
  background-color: rgb(178, 239, 219);
  width: 100%;
  flex-wrap: wrap;
  
}


.text1
{
  margin-top: 200px;
  align-self:center ;
  font-size: 5rem;
  font-family: 'Caveat', cursive;
font-family: 'Dancing Script', cursive;

 color:white;

}
.text2
{
  align-self:center ;
  font-size: 3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 100px;
  color:white;

  
}
.hero
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: aliceblue;
  flex-wrap: wrap;
}
.perimg
{
  margin-top: 100px;
  background-color: aliceblue;
  align-self: center;

}

.perimg img{
 
    border-radius: 50%;
    width:95px;
    height: 95px;
    align-self: center;
    background-color: aliceblue;
}

 .hero p{
  background-color: aliceblue;
  font-family:  sans-serif;

}
.hero h2{
  background-color: aliceblue;
  color: rgb(66, 220, 169);
}
.hero h6{
  background-color: aliceblue;
}

.hii
{
  align-self: center;
  background-color: aliceblue;
}
.content
{
  align-self: center;
  background-color: aliceblue;
}

hr {
  border: dotted gray 3px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
    
    background-color: aliceblue;
}




.skill
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  flex-wrap: wrap;

}
.skilltext{
  background-color: aliceblue;
}
.skilltext h1
{
  background-color: aliceblue;
  font-family: sans-serif;
  color: rgb(66, 220, 169);
 

}
.skill1
{
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1 1fr;
  width: 50%;
  margin: 100px auto 0 auto;
  text-align: left;
  row-gap: 2rem;
  background-color: aliceblue;
}
.skill p{
  background-color: aliceblue;
}
.skill h3{
  background-color: aliceblue;
  color: rgb(66, 220, 169);
}
.skill img{
  background-color: aliceblue;
}
.img-skill{
  background-color: aliceblue;
}
.text-skill
{
  background-color: aliceblue;
}


.contactme
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: aliceblue;
 
}

.contactme h1{
  color:rgb(66, 220, 169);
  background-color: aliceblue;
}
.contactme p {
  background-color: aliceblue;
}

.first {
  background-color: aliceblue;
}

.second {
  background-color: aliceblue;
}
.third
{
  
    background-color: aliceblue;
}
.fourth
{
  background-color: aliceblue;
  margin-bottom: 100px;
}
.btn
{
  background-color: rgb(66, 220, 169);
  font-weight: 400;
  color: aliceblue;
}
.btn:hover
{
  background-color: rgb(169, 230, 213);

}
.footer{
  display: flex;
 flex-direction:row;
 justify-content: center;
  align-items: center;
  gap:20px;
flex-wrap: wrap;
background-color: rgb(11, 132, 92);

}

.bottom
{
  display: flex;
 flex-direction:row;
 justify-content: center;
  align-items: center;
  gap:20px;
flex-wrap: wrap;
}

.bottom a{
  color:  rgb(69, 197, 155);
  font-weight: 400px;
  text-decoration: none;
}

.copyright p
{
  color: white;
   text-align:center;
   font-size: 1.rem;
   font-family: sans-serif;
    padding: 20px 0;
  
}






 

  